body{
	background-color: #D3D3D3;
}
#footer{
	text-align:center;
	margin-top:10%;
	font-weight: 1000;
}
.navbar-default{
	background:black;
}
.con1{
	border-radius:5px;
	background: black;
	height:30px;
	width:30px;
	border:none;
}
.con2{
	border-radius:5px;
	background: #1da1f2;
	height:30px;
	width:30px;
	border:none;
}
.con3{
	border-radius:5px;
	background: #0E76A8;
	height:30px;
	width:30px;
	border:none;
}
.con4{
	border-radius:5px;
	background: red;
	height:30px;
	width:30px;
	border:none;
}
a{
	text-decoration: none;
	color:white;
}