
body{
	color:white;
	background:url(http://www.sparksbelting.com/uploads/blog/_blogFeatureImage/calculator-blog-main.jpg);
	background-size:cover;

}
#content{
text-align:center;
padding-top:10%;
}
html{
	height:100%;
}
hr{
	width:400px;
}
h1{
	font-weight: 700;
	font-size:5em;
}
#footer{
	text-align:center;
	margin-top:150px;
	font-weight:400;
}
.navbar-default{
	background:black;
}
.con{
	margin-left:500px;
	width:50vw;
}
.con1{
	border-radius:5px;
	background: black;
	height:30px;
	width:30px;
	border:none;
}
.con2{
	border-radius:5px;
	background: blue;
	height:30px;
	width:30px;
	border:none;
}
.con3{
	border-radius:5px;
	background: green;
	height:30px;
	width:30px;
	border:none;
}
.con4{
	border-radius:5px;
	background: red;
	height:30px;
	width:30px;
	border:none;
}
a{
	text-decoration: none;
	color:white;
}