body{
	background:url(https://dubailondonclinic.com/wp-content/uploads/2017/04/website-contact-us-icons-post-internet-page-concept-icon-five-paper-isolated-white-background-32678534.png);
	background-size:cover;

}
#content1{
	margin-top:150px;
	text-align:center;
	font-weight: 700;
	font-size:20px;

}
#footer{
	text-align:center;
	margin-top:250px;
}