#content1{
	margin-top:150px;
	text-align:center;
	font-weight: 700;
	font-size:20px;

}
#footer{
	text-align:center;
	margin-top:125px;
}
.me{
	width:30%;
}
body{
	background-color: #D3D3D3;
}
.navbar-default{
	background:black;
}
.meee{
	float:right;
	width:25%;
	height:25%;
}